@font-face {
    font-family: "pally";
    src: url("Pally_Complete/Fonts/OTF/Pally-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "pally bold";
    src: url("Pally_Complete/Fonts/OTF/Pally-Bold.otf");
    font-weight: bold;
}

#body {
    background-color: beige;
}

.container-fluid>.navbar-brand {
    color: black;
    font-size: 70px;
    font-family: pally bold;
}

#moto {
    font-size: 25px;
    font-family: pally;
    color: black;
}

.mainframe {
    height: 83vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img {
    height: 500px;
}

.imgmoto {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#loginbtn {
    display: none;
    width: 100%;
    background-color: white;
    font-family: pally;
    border: 1px black solid;
}

.topics {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: pally;
}

.topics>h3 {
    font-size: 50px;
    text-wrap: wrap;
    width: 600px;
    text-align: center;
}

.topics>p {
    font-size: 23px;
    text-wrap: wrap;
    width: 500px;
}

@media screen and (max-width: 500px) {
    #body {
        background-color: beige;
    }

    .container-fluid>.navbar-brand {
        color: black;
        font-size: 25px;
        font-family: pally bold;
    }

    #moto {
        font-size: 13px;
        font-family: pally;
        color: black;
    }

    .mainframe {
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #img {
        height: 200px;
    }

    .imgmoto {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #loginbtn {
        display: none;
        width: 100%;
        background-color: white;
        font-family: pally;
        border: 1px black solid;
    }

    .topics {
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: pally;
    }

    .topics>h3 {
        font-size: 18px;
        text-wrap: wrap;
        width: 250px;
        text-align: center;
    }

    .topics>p {
        font-size: 13px;
        text-wrap: wrap;
        width: 270px;
    }
}
@media screen and (max-width: 380px) {
    #body {
        background-color: beige;
    }

    .container-fluid>.navbar-brand {
        color: black;
        font-size: 25px;
        font-family: pally bold;
    }

    #moto {
        font-size: 13px;
        font-family: pally;
        color: black;
    }

    .mainframe {
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #img {
        height: 200px;
    }

    .imgmoto {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #loginbtn {
        display: none;
        width: 100%;
        background-color: white;
        font-family: pally;
        border: 1px black solid;
    }

    .topics {
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: pally;
    }

    .topics>h3 {
        font-size: 18px;
        text-wrap: wrap;
        width: 250px;
        text-align: center;
    }

    .topics>p {
        font-size: 13px;
        text-wrap: wrap;
        width: 270px;
    }
}
